.selected-row {
    background-color: rgba(155, 222, 138, 0.69) !important;
}

.filterLabel{
    font-weight: 400;
    font-size: 14px;
}

.button{
    height: 40px;
    width:  100px;
    background-color: blue;
    color:  white;
}

.login-pane {
    width: 350px;
    background-color: rgb(247, 247, 247);
    padding: 20px;
    margin: 0 auto 25px;
    margin-top: 50px;
    border-radius: 2px;
    box-shadow:  0px 2px 2px rgba(0, 0, 0, 0.3);
}

.register-pane {
    width: 75%;
    background-color: rgb(247, 247, 247);
    padding: 20px;
    margin: 25px auto;
    margin-top: 50px;
    border-radius: 2px;
    box-shadow:  0px 2px 2px rgba(0, 0, 0, 0.3);
}

.box {
	margin: 30px auto;
	/*background-image: url('img/landingpage.jpg'); */
	width: 700px;
	height: 300px;
}

.spacer {

}

.input-margin {
    margin: 10px auto;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}


/*
 * Form styles
 */

 .shareLine {
    display: inline-block;
    width: 45%;
    margin: 5px;
 }

 .singleLine {
    margin: 5px;
 }

 .successfully-saved {
    color: #FFFFFF;
    text-align: center;
    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
     opacity: 1;
}


/* Login Page
*/

.user-apps {
	text-decoration: none;
	list-style: none;

}

.selected-row {
    background-color: lightblue;
}

