.selected-row {
    background-color: rgba(155, 222, 138, 0.69) !important;
}

.filterLabel{
    font-weight: 400;
    font-size: 14px;
}

.button{
    height: 40px;
    width:  100px;
    background-color: blue;
    color:  white;
}

.login-pane {
    width: 300px !important;
}

.box {
	margin: 30px auto;
	/*background-image: url('img/landingpage.jpg'); */
	width: 700px;
	height: 300px;
}



.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */


/* Login Page
*/

.user-apps {
	text-decoration: none;
	list-style: none;

}

.selected-row {
    background-color: lightblue;
}

