

/*.button {
    height: 40px;
    width:  100px;
    background-color: blue;
    color:  white;
}*/

/*.box {
	margin: 30px auto;
	width: 700px;
	height: 300px;
}*/

/*.app-label {
    background-color: blue;
    color: white;
}*/







/*.margins {*/
    /*margin: 5px 10px;*/
/*}*/

/*.user-lifeclcye-buttons {*/
    /*margin-left: 20px;*/
/*}*/

/*.user-manager {
    margin-top: 15px;
}*/