.user-manager {
    margin-top: 15px;
}

.filterLabel {
    font-weight: 400;
    font-size: 14px;
}

.margins {
    margin: 5px 10px;
    }

.user-lifeclcye-buttons {
    margin-left: 20px;
    }

.top-margin {
    margin-top: 15px;
} 
